# Project dependencies
.yarn
.cache
*.pyc
node_modules
yarn-error.log

# Build directory
/build
/dist
.DS_Store
.sass-cache/
_posts/
_site/
.pnpm-store

.mypy_cache

/.vscode
.idea

config.yaml
.venv/
.pdm-python

route.png
route.svg

.env

# Any temparary backup file
**/*.temp.bak
